openai
langchain
tiktoken
pinecone-client
python-dotenv

langchain_openai
beautifulsoup4
langchain_pinecone

datasets
ragas

joblib

matplotlib
seaborn

trulens_eval

google.cloud
google-cloud-discoveryengine

pandas
openpyxl